
body {
	background-image: url("images/wall.png");
	display:grid;
	}

img{
	max-width:100%;
	height: auto;
	margin: 0 auto;
	}
	
a{ 
	text-decoration:none;
	color:white;
	font-family: 'Big Shoulders Inline Display', cursive;
	font-family: 'Indie Flower', cursive;
	font-family: 'Syne Mono', monospace;
	font-size: 100px;
	padding: 35px;
	}
	

	
